* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #fff;
    z-index: 1000;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin: 18px 0;
}

/* Dark mode */

/* Default light mode colors */
:root {
    --background-color: white;
    --text-color: black;
    --header-bg: lightgray;
}

h2{
    color: var(--text-color);
}
/* Dark mode colors */
[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #f1f1f1;
    --header-bg: #1c1c1c;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: var(--header-bg);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

#mode-label {
    margin-left: 10px;
    font-size: 1rem;
}

/* Toggle Switch */
.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: white;
    transition: 0.4s;
    top: 3px;
    left: 4px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/*---------------------*/

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.website-name {
    margin-left: 16px;
    font-size: 20px;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(90deg, #ff459f, #ff9532, #ffd700, #32cd32, #1e90ff, #8a2be2, #ff459f);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: rainbow 5s linear infinite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
    margin-right: 100px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    transition: color 0.5s, transform 0.5s;
}

nav ul li a:hover {
    color: #e00999;
    transform: scale(1.18);
}

nav ul li.login {
    background: linear-gradient(to right, #fb5283, #ff3527);
    height: 24px;
    border-radius: 20px;
    padding: 4px 18px;
    cursor: pointer;
}

nav ul li.login a {
    color: #fff;
}

nav ul li.login:hover {
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2 {
    font-size: 54px;
    color: var(--text-color);
    cursor: pointer;
}

.col-1 h3 {
    font-size: 30px;
    color: var(--text-color);
    font-weight: 100;
    margin: 20px 0 10px;
    cursor: pointer;
}

.col-1 p {
    font-size: 16px;
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;
}

button {
    width: 140px;
    border: 0;
    padding: 14px 12px;
    outline: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: bolder;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

button img {
    width: 30px;
    display: none;
}

button:hover img {
    display: block;
}

button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-1::after {
    content: '';
    width: 10px;
    height: 63%;
    background: linear-gradient(#ff459f, #ff6062);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .controller {
    width: 90%;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff459f, #ff9532);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);
}

.price {
    margin: 20px 0;
    display: flex;
}

.original-price {
    font-size: 20px;
    color: var(--text-color);
    text-decoration: line-through;
    margin-right: 15px;
}

.discounted-price {
    font-size: 24px;
    color: var(--text-color);
    font-weight: bold;
}

.discount {
    background-color: #ff3c6d;
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
}

.add-btn img {
    width: 40px;
    margin-bottom: 5px;
}

.add-btn {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    border: 1.5px solid #fff;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.5s;
}

.add-btn p {
    font-size: 16px;
}

.add-btn:hover {
    transform: scale(1.1);
}

.rating {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.rating span {
    font-size: 26px;
    margin-right: 10px;
    background: linear-gradient(to right, #ff459f, #ff9532, #ffd700, #32cd32, #1e90ff);
    /* Example gradient colors */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating p {
    font-size: 14px;
    color: #707070;
    margin: 0;
}

.overall-rating {
    margin: 14px 0;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.overall-rating .star {
    margin-left: 5px;
    color: #ff3c6d;
    font-weight: 600;
}

.footer-container {
    background-color: #444444;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1 1 200px;
    margin: 10px 20px;
    max-width: 300px;
    text-align: left;
}

.footer-section .logo-name {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer-section .logo-name img {
    height: 50px;
    margin-right: 10px;
}

.footer-section .logo-name h4 {
    font-size: 18px;
    margin: 20px 0;
}

.footer-section .contact {
    font-size: 14px;
    line-height: 28px;
    color: #d3d3d3;
    font-weight: 600;
    cursor: pointer;
}

.footer-section .follow {
    margin-left: 20px;
}

.footer-section .contact:hover {
    color: #ffee05;
}

.footer-section h4 {
    margin-bottom: 20px;
    margin-top: 16px;
}

.footer-section p {
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
}

.footer-bottom {
    border-top: 0.7px dashed #e4e4e4;
    padding-top: 20px;
    max-width: 30%;
    margin: 0 auto;
    text-align: center;
}

.footer-bottom p {
    margin: 5px 0;
    font-size: 12px;
}

.social-links a {
    text-decoration: none;
}

.social-links a:first-child {
    color: #3b5998;
}

.social-links a:nth-child(2) {
    color: #1DA1F2;
}

.social-links a:last-child {
    color: #0077b5;
}

.instagram-link {
    display: inline-block;
}

.instagram-icon {
    font-size: 64px;
    background: radial-gradient(circle at 30% 30%, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    mask-image: url('https://unpkg.com/ionicons@5.5.2/dist/svg/logo-instagram.svg');
    mask-size: cover;
    color: transparent;
}

.social-links ion-icon {
    font-size: 30px;
    margin: 14px;
    cursor: pointer;
    transition: transform 0.3s;
}

.social-links ion-icon:hover {
    transform: scale(1.2);
}





/* -----------------------------------------------Responsiveness----------------------------------------------------- */


/* ----------------------------for mobiles--------------------------------------- */

@media only screen and (max-width: 700px) {

    .menu-icon {
        margin-right: 40px;
    }

    nav ul {
        width: 100%;
        background: linear-gradient(to right, #fb5283, #ff3527);
        position: absolute;
        top: 73px;
        right: 0;
        z-index: 2;
        margin-right: 20px;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        margin-left: 50px;
    }

    nav ul li a {
        color: #fff;
    }

    nav ul li a:hover {
        color: #ffee00;
        transform: scale(1.18);
    }

    .login a {
        background-color: (#ff459f, #ff9532);
        color: white;
        padding: 4px 20px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
    }

    .login a:hover {
        background-color: #e05599;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }

    .row {
        flex-direction: column-reverse;
        margin: 100px 0;
    }

    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col-2 .controller {
        width: 77%;
    }

    .color-box {
        transform: translateX(75px);
    }

    .col-1 {
        flex-basis: 100%;
    }

    .col-1 h2 {
        font-size: 35px;
    }

    .col-1 h3 {
        font-size: 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        max-width: 100%;
        text-align: center;
    }

    .footer-section .logo-name {
        justify-content: center;
    }

    .footer-bottom {
        max-width: fit-content;
    }

}


/* --------------------------for tabs------------------------------------ */


@media only screen and (max-width: 1180px) {

    .menu-icon {
        margin-right: 60px;
    }

    nav ul {
        width: 100%;
        background: linear-gradient(to right, #fb5283, #ff3527);
        position: absolute;
        top: 73px;
        right: 0;
        z-index: 2;
        margin-right: 21px;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        margin-left: 50px;
    }

    nav ul li a {
        color: #fff;
    }

    nav ul li a:hover {
        color: #ffee00;
        transform: scale(1.18);
    }

    .login a {
        background-color: #752280;
        color: white;
        padding: 4px 20px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
    }

    .login a:hover {
        background-color: (#f267ff, #ff9532);
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
}