@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --white: #fff;
    --light: #eeeded;
    --orange: #FFA16C;
}

body {
    background-color: var(--orange);
    font-family: system-ui;
    overflow: hidden;
}

.container {
    width: 1200px;
    border: 1px solid var(--white);
    max-width: 100%;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: 200px auto 300px;
    padding: 20px;
    border-radius: 30px;
    min-height: 80vh;
}

.menu {
    background-color: var(--white);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.cart {
    background-color: var(--white);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.center {
    background-color: var(--light);
    border-left: 1px solid var(--light);
    border-right: 1px solid var(--light);
}

/* Menu Styles */
.logo {
    padding: 20px;
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    height: 40px;
}

.logo span {
    color: var(--orange);
}

.menu ul {
    padding: 20px 0 20px 20px;
    list-style: none;
    border-bottom: 1px solid var(--light);
}

.menu ul li {
    padding: 10px 0;
}

.menu ul li i {
    margin-right: 12px;
}

.menu ul li.active {
    color: var(--orange);
    border-right: 2px solid var(--orange);
}

.menu ul li:hover {
    color: var(--orange);
    border-right: 2px solid var(--orange);
}

/* Center Styles */
.search {
    background-color: var(--white);
    padding: 20px;
    height: 40px;
}

.search .form {
    width: max-content;
    border: 1px solid var(--light);
    border-radius: 20px;
    padding-left: 15px;
    color: var(--light);
    display: flex;
    align-items: center;
}

.search .form input {
    border: none;
    padding: 0 10px;
    outline: none;
    width: 100px;
}

.search .form button {
    border: none;
    background-color: var(--orange);
    color: var(--light);
    padding: 10px 20px;
    border-radius: 20px;
}

/* Product List */
h2 {
    padding: 20px;
}

.list {
    padding: 0 20px 20px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 20px;
}

.item {
    background-color: var(--white);
    display: grid;
    grid-template-columns: 20% auto;
    padding: 10px;
    column-gap: 20px;
    border-radius: 20px;
}

.item .img img {
    height: 70px;
}

.item .img {
    background-color: var(--light);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item .content .title {
    font-weight: bold;
}

.item .content .des {
    font-size: small;
    opacity: 0.7;
    margin-top: 5px;
}

.item .content .price {
    color: var(--orange);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: small;
    margin-top: 5px;
}

.item .count {
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 3px 5px;
    border: 1px solid var(--light);
    outline: none;
    margin-top: 5px;
}

.item .content .add {
    margin-top: 5px;
    background-color: var(--orange);
    color: var(--white);
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

.item .content .remove {
    padding: 5px;
    border: none;
    margin-top: 5px;
    border-radius: 10px;
    display: none;
}

/* Cart Styles */
.cart .item {
    transition: 0.5s;
    border-bottom: 1px solid var(--light);
}

.cart .name {
    padding: 20px;
    height: 40px;
    font-weight: bold;
    font-size: xx-large;
    border-bottom: 1px solid var(--light);
}

.danger {
    box-shadow: 0 10px 10px var(--orange);
    transform: translate(0, -10px);
}

.cart .add {
    display: none;
}

.cart .remove {
    display: inline-block !important;
}
