* {

    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    background: url('https://images.pexels.com/photos/7135057/pexels-photo-7135057.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100vh;
    color: white;
    text-shadow: 1px 1px 2px #000;
}

.signup-container {
    
    opacity: 0.75;
    background-color: rgba(0, 0, 0, 0);
    padding:3rem 5rem;
    border-radius: 20px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 500px;
    width: 100%;
    animation: fadeIn 2s ease-in-out;
    background-color: black;
    margin: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 0.75;
    transform: scale(1);
  }
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #fb5283;
}

.input-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid #6a1b9a;
  border-radius: 5px;
  background-color: #3a3f44;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 0.875rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #ba68c8;
  background-color: #2a2e32;
}

.signup-button {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 15px 60px;
  margin: auto;

  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.signup-button:active {
  top: 10px;
  background-color: #f78900;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}
.signup-button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.signup-button:hover {
  background-color: #ffd198;
  color: #f78900;
}

.links {
  margin-top: 18px;
}

.links a {
  color: #fb5283;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 18px;
}

.links a:hover {
  color: #ff80ab;
  text-decoration: underline;
}

.linksHome {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  padding: 10px;
  font-size: large;
  text-decoration: none;
  border-radius: 15px;
  border: none;
  background: linear-gradient(
    0deg,
    rgba(255, 193, 219, 1) 0%,
    rgba(245, 131, 202, 1) 100%
  );
  color: #fff;
  overflow: hidden;
}

.linksHome:hover {
  text-decoration: none;
  background: linear-gradient(
    0deg,
    rgba(245, 131, 202, 1) 0%,
    rgba(255, 193, 219, 1) 100%
  );
  color: #fff;
}

.linksHome:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  animation: shiny-btn1 3s ease-in-out infinite;
}

.linksHome:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 193, 219, 0.3),
    -4px -4px 6px 0 rgba(245, 131, 202, 0.3),
    inset -4px -4px 6px 0 rgba(255, 193, 219, 0.3),
    inset 4px 4px 6px 0 rgba(245, 131, 202, 0.3);
}

@keyframes shiny-btn1 {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

.linksHome a {
  color: #ffe4e9;
}

a {
  text-decoration: none;
}

#link-home{
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px white;
    border-radius: 15px;
    padding: 8px 15px;

    margin-left: 1rem;
    margin-top: 1rem;
    
}

#link-home:hover{
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 0 0 5px #424242;
    background-color: #42424222;
    border-radius: 15px;
    padding: 8px 15px;

    margin-left: 1rem;
    margin-top: 1rem;
}

#link-home a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    text-shadow: none;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    
}