
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-image: url('gaming.jpg'); /* Add your background image */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  background-color: rgba(255, 255, 255, 0.003); /* Transparent background */
  border-radius: 10px;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
}

.register-container:hover{
  border: 2px solid rgb(18, 242, 18);
}

.register-form h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgb(91, 57, 57);
}

.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field i {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #fff;
}

.input-field input {
  width: 100%;
  padding: 12px 40px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.input-field input:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
  border:2px solid rgb(7, 231, 7);
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #218838;
}

.alternative-signup {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.google-signup {
  background-color: white;
  color: black;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border:1px d;
  font-size: 16px;
  margin-top: 5px;
}

.google-signup:hover{
  background-color: #f2f2f2;
}

.google-signup img {
  width: 40px;
  margin-right: 10px;
}
