/* Styling for the pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-content {
    display: flex;
    background-color: white;
    border-radius: 10px;
    max-width: 800px;
    height: 450px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  /* .popuplogo{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 38.6px;
  } */

  .logo1 {
    width: 50px;
    cursor: pointer;
    margin: 18px 10px;
    position: absolute;
    top: -4px;
    left: 722px;
}

  #logo-pop{
    left: 20px;
  }

  .popup-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .popup-right {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }

  .popup h1 {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif; 
    background: linear-gradient(to right, #ff3527, #fb5283, #ffd700); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    text-align: center;
    margin-bottom: 15px;
    margin-top: 45px;
  }

  .h2{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }

  .pop_up {
    margin-bottom: 26px;
    font-weight: bold;
    background: -webkit-linear-gradient(left, #fd1c1c, #3375c7, #14addd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12.7px;

  }

  .bold{
    font-size: 13.1px;
  }

  input[type="email"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
  }

  .signup-btn1 {
    width: 100%;
    padding: 10px 0;
    background-color: linear-gradient(to right, #ff3527, #fb5283, #ffd700);;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .signup-btn1:hover {
    background-color: #4682B4;
  }

  .no-thanks {
    display: block;
    margin-top: 15px;
    color: #888;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .no-thanks:hover {
    color: #000000;
    font-size: 15px;
  }

  .terms {
    margin-top: 15px;
    font-size: 10px;
    color: #888;
  }

  .terms a {
    background: linear-gradient(to right, #ff3527, #fb5283, #ffd700); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
  }